<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Barcode_Verify.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="localhost_dbTraceability_Connection" connectionString="XpoProvider=MSSqlServer;data source=localhost;integrated security=SSPI;initial catalog=dbTraceability" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <Barcode_Verify.My.MySettings>
            <setting name="Server" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="Database" serializeAs="String">
                <value>dbTraceability</value>
            </setting>
            <setting name="Username_DB" serializeAs="String">
                <value>sa</value>
            </setting>
            <setting name="Password_DB" serializeAs="String">
                <value>password</value>
            </setting>
            <setting name="UserID_Login" serializeAs="String">
                <value>sa</value>
            </setting>
            <setting name="PASSWORD_LOCK_SCREEN" serializeAs="String">
                <value>1234</value>
            </setting>
            <setting name="PrinterName" serializeAs="String">
                <value>Printer</value>
            </setting>
            <setting name="Timeout" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="UserID" serializeAs="String">
                <value>sa</value>
            </setting>
            <setting name="Username_DB_MRP" serializeAs="String">
                <value>sa</value>
            </setting>
            <setting name="Server_MRP" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="Database_MRP" serializeAs="String">
                <value>dbTraceability</value>
            </setting>
            <setting name="Password_DB_MRP" serializeAs="String">
                <value>password</value>
            </setting>
            <setting name="Timeout_MRP" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="stLastFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="PATH_FOLDER_PIC1" serializeAs="String">
                <value />
            </setting>
            <setting name="PATH_FOLDER_PIC2" serializeAs="String">
                <value />
            </setting>
            <setting name="Count_CutDigit" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="PATH_FOLDER_PIC1_ZOOM" serializeAs="String">
                <value />
            </setting>
            <setting name="PATH_FOLDER_PIC2_ZOOM" serializeAs="String">
                <value />
            </setting>
            <setting name="dbAccessPaht" serializeAs="String">
                <value />
            </setting>
        </Barcode_Verify.My.MySettings>
    </userSettings>
</configuration>